<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582857801531-jdss3ssr9jbt9gkosh0jqosguv1gi30v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582857801531-jdss3ssr9jbt9gkosh0jqosguv1gi30v</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PrglBOWmYCWLWn5DBdnjmeNGqWnsNXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582857801531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wecomiFlutter</string>
	<key>PROJECT_ID</key>
	<string>wecomi</string>
	<key>STORAGE_BUCKET</key>
	<string>wecomi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:582857801531:ios:18f4c53d36572c4df5811e</string>
</dict>
</plist>
